
.App-sidebar {
  vertical-align: text-top;
  font-size: 1.4em;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: #777 2px 2px 3px;
  position: fixed;
  height: 100vh;
  width: calc(25%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  color: white;
  overflow: hidden;
}
.App-logo {
  animation: slow-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}