.App {
  background-color: #efefef;
  text-align: left;
  width: 100%;
  height: auto;
  margin: none;
  padding: none;
}
#botright {
  background-color: #efefef;
  text-align: left;
  width: 75%;
  margin-left: 25%;
  height: auto;
  margin: none;
  padding: 1em;
}
#content {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;

}
th {
  cursor: pointer;
}

.App-content {
  height: auto;
  min-width: 20em;
  margin-left: 25%;
  padding: 1em;
  color: #333;
  vertical-align: text-top;
}
.bot-right {
  display: inline-block;
  min-height: 50vh;
}

.nav-item:hover {
  background: rgba(222, 222, 222, 0.22);
}
.nav-item {
  background: rgba(71, 71, 71, 0.71);
  margin: 0.25em 2px;
  padding-left: 0.5em;
  vertical-align: text-bottom;  
}
.icon {
  display: inline-block;
    margin: 0 auto;
    padding: .35em;
    vertical-align: baseline;
}
.App-link {
  color: #61dafb;
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Search-Box{
  float: right;
}
table {
  font-size: 1.4em;
}