@import '~!bootstrap/dist/css/bootstrap.css'; 

html {
}
body {
  margin: 0;
  font-size: 11px;
  font-family: "Trebuchet MS", "Ariel", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
